body{
    background:#f8fafc;
    font-family:'Poppins',sans-serif;
}

.sidebar{
    width:260px;
    height:100vh;
    position:fixed;
    background:white;
    box-shadow:0 0 20px rgba(0,0,0,.1);
}

.content{
    margin-left:260px;
    padding:25px;
}

.card-dashboard{
    border:none;
    border-radius:20px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}